<h3>設定</h3>
<h2>プロフィール</h2>
<p>アイコン画像</p>
<%= image_tag @user.user_img.url %>
<P>名前</p>
<%= @user.name %>
<p>自己紹介</p>
<%= @user.introduction %>

<div>
<%= link_to "編集","/users/profile/edit" %>
<%= link_to "トップページに戻る", "/" %>
</div>
