
<h1>新規登録</h1>

<%= form_with model: @room, url: rooms_path do |f| %>
    <table>
    <tr>
        <th><%= f.label :name, "施設名" %></th>
        <td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <th><%= f.label :room_introduction, "施設紹介" %></th>
        <td><%= f.text_area :room_introduction %></td>
    </tr>
    <tr>
        <th><%= f.label :price, "料金" %></th>
        <td><%= f.text_field :price %></td>
    </tr>
    <tr>
        <th><%= f.label :address, "住所" %></th>
        <td><%= f.text_field :address %></td>
    </tr>
    <tr>
        <th><%= f.label :room_img, "施設画像" %></th>
        <td><%= f.file_field :room_img %></td>
    </tr>
    </table>
    <%= f.hidden_field :user_id, value: @user.id %>
    <div>
    <%= f.submit "登録を完了する" %>
    <% end %>
